table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: red;
  color: yellow;
}

h1 {
  color: brown;
  text-align: center;
}

h2 {
  color: brown;
  text-align: center;
}

p, a, li {
  color: brown;
}

body, html {
  margin: 0;
  padding: 0;
}

/* Seções específicas */
#inicio {
  background-color: #b88d0a83;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

#receitas {
  background-color: #1d9a1d;
  padding: 20px;
  border-bottom: 2px dashed #999;
  text-align: center;
}

/* ====== ESTILO DO FORMULÁRIO ====== */

.form-container {
  max-width: 700px;
  margin: 30px auto;
  background-color: #fff5f8;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcb;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 15px;
  font-weight: bold;
  color: brown;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 25px;
  padding: 12px;
  font-size: 18px;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #a0522d;
}
