table {
        width: 100%;
        border-collapse: collapse; /* Remove espaços entre as bordas */
    }
th, td {
        border: 2px solid black; /* Adiciona bordas às células */
        padding: 8px; /* Adiciona espaçamento interno às células */
        text-align: center;
    }
th {
        background-color: red; /* Cor de fundo para o cabeçalho */
        color: yellow; /* Cor do texto no cabeçalho */
    }

h1 {
        color: brown;
        text-align: center;
    }

h2 {
        color: brown;
    }

p{
        color: brown;
    }

a{
        color: brown;
    }

li{
        color: brown;
    }

body, html {
        margin: 0;
        padding: 0;
    }

#inicio {
        background-color: #b88d0a83;
        padding: 20px;
        border-bottom: 2px solid #ccc;
    }

#receitas {
        background-color: #1d9a1d;
        padding: 20px;
        border-bottom: 2px dashed #999;
        text-align: center;
        color: blue;
}